* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  justify-items: center;
}

.image{
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  aspect-ratio: 1 / 1;
}
