<div class="container" (click)="imageClicked()">
  <!--  need if-else because of error
    NG02953: priority was updated after
    initialization from NgOptimizedImage -->
  @if (priority()) {
    <img
      [ngSrc]="photoModel().constructed_url"
      [alt]="photoModel().author"
      [width]="IMG_TILE_SIZE"
      [height]="IMG_TILE_SIZE"
      [priority]="true"
    />
  } @else {
    <img
      [ngSrc]="photoModel().constructed_url"
      [alt]="photoModel().author"
      [width]="IMG_TILE_SIZE"
      [height]="IMG_TILE_SIZE"
    />
  }
  <mat-icon
    class="icon-overlay"
    [ngClass]="{ favorite: isFavourite() }"
    aria-hidden="false"
    aria-label="favourites icon"
    fontIcon="star"
  />
</div>
