.main-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page-content {
  margin-top: 64px;
  flex: 1;
  min-height: 0;
  overflow: auto;
  background: var(--color-gray-100);
}
